body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f295b7;
  
}
#m{
  font-size: 20px;
margin-top: 20px;
margin-left: 50px;
margin-right: 50px;
}
#n{
  width:750px;
  height:750px;
  margin-top:32px;
}
#k{
 position:absolute ;
 margin-top: 1400px;
}
